---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body class="light-theme" style="background-color:#F9F6EE; overflow-x:hidden;">
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<Layout metadata={metadata}>
<div style="font-family:'Times New Roman', Times, serif;">
<div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
    <a href="/" class="text-xl" style="font-family:serif">Home </a>
    <a href="./about" class="text-xl italic" style="font-family:serif">About </a>
    <a href="./journal" class="text-xl hover:italic" style="font-family:serif"> Journal </a>
    <a href="./submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
</div>

<div class="text-8xl text-blue-900 mt-24 ml-20"> About Dialexicon </div>

<div class="ml-5">
    <h1 class="text-blue-900 text-3xl mt-8 ml-16 italic">As Plutarch once proclaimed, "Philosophy is the art of living." </h1>
    <div class="text-black ml-16 mr-14 mt-8 text-xl">
    <p>In today's age, it is easy to get lost in the weeds.
<br>
<br>
We're drowning in content, news, gossip, and clutter. Sometimes, we forget to take a step back, and think.
<br>
<br>  
What if we were to step into the mind of a philosopher? <span class="italic">To pose big questions about the world and rethink what we read?
<br>
<br>
</span>
            
Philosophical thinking can be found in the ordinary and the familiar, not just the new and profound. 
<br>
<br>
All the while, philosophy delights in the <span class="italic">unknown</span>:
<br> 
&nbsp;&nbsp; In posing questions that might not have immediate or clear answers, but are worth asking for the sake of curiosity!
<br>
<br>
As children, we are natural philosophers, asking daunting questions about seemingly self-evident subjects: 
<br>
<br>
<span class="italic">
&nbsp;    Why is the sky blue?
<br>
&nbsp;&nbsp;&nbsp;&nbsp;       Why do we have to listen to our parents?
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;             What is friendship?
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                       Why is there something rather than nothing? 
</span>
<br>
<br>   
Dialexicon is a project to revive these questions, by giving youth a space to express their philosophical ideas.
    </p>

    <div class="mt-10 mb-5">
        <span class="text-blue-900 text-3xl italic">Thinking like a philosopher is essential in the 21st century.</span>
<br>
<br> 
        <p class="text-xl" style="width:1000px">
<!-- The biggest problems we face are not due to a lack of resources, but a lack of collective thought.

Poverty stems from a lack of redistribution, not scarcity.
Climate change stems from human-caused pollution and the tragedy of the commons.
War stems from fragmentation and political mismanagement.
Technological abuse threatens a new frontier where our privacy, liberty, and equality are at risk.

To combat these problems, we need philosophy more than ever.  -->

Humans are great at creating tools. But philosophy teaches us <span class="italic text-blue-900">when</span> and <span class="italic text-blue-900">how</span> to use those tools in just and beneficial ways. 
<br>
<br> 
<span class="text-blue-900">Political philosophy</span> shows us how to organize ourselves.
<br> 
<span class="text-blue-900">Ethics</span> guides us in how we ought to treat one another.
<br> 
<span class="text-blue-900">Metaphysics</span> teaches us to question the universe.
<br> 
<span class="text-blue-900">Existentialism</span> brings us to question our place in it.
<br> 
<br> 
Beyond that, thinking like a philosopher trains you to be a problem-solver, a persuasive orator, and a critical thinker. 
<br> 
<br> 
Dialexicon is the first step on that journey, beginning with youth.
        </p>
    </div>

    <div class="mt-10 mb-10">
    <span class="text-blue-900 text-3xl italic">Why was Dialexicon created?</span>
    <div>
<br> 
    <p class="text-xl">
<p class="ml-2">
1. To fill the chasm of philosophy opportunities and resources for high school students.
<br> 
2. To share the voices and philosophical opinions of youth with a global audience.
<br> 
3. To provide a forum for youth to discuss philosophy with other engaged youth.
<br> 
4. To distill complex philosophical ideas to be approachable for youth.
<br> 
<br> 
</p>
<p style="width:800px">
Dialexicon seeks to close a gap in access to philosophy opportunities and resources for youth, 
offering a platform tailored to middle and high school students who love philosophy.
</p> 
<br> 
If you're a new visitor, welcome to Dialexicon.
<br> 
<br> 
<span class="italic">
P.S. If you would like to get involved with Dialexicon, please reach out to <a href="mailto:dialexiconjournal@gmail.com" class="text-blue-900">dialexiconjournal@gmail.com</a>.</span>
    </p>
    </div>
    </div>

    <div class="mt-10 mb-10">
        <span class="text-blue-900 text-3xl italic">Afternotes</span>
        <div>
        <p class="text-xl" style="width:1000px">
<br> 
Thank you to our sponsors: <a href="https://www.acpcpa.ca/cpages/home-page" class="text-blue-900 italic">The Canadian Philosophical Association</a>, <a href="https://www.philosophy-foundation.org/" class="text-blue-900 italic">The Philosophy Foundation</a>, and <a href="https://philosophy.utoronto.ca/" class="text-blue-900 italic">University of Toronto's Department of Philosophy</a>. And to all our adjudicators who volunteered to read countless papers for the journal.
<br> 
<br> 
A special thanks to Jeffrey Senese, Petra Dreiser, and Miha Andric for making the inaugaral volume of Dialexicon possible.
<br>
<br>
Building this website has involved using several images of paintings, including: 
<span class="italic text-blue-900">Death of Socrates</span> by Jacques-Louis David, The Metropolitan Museum of Art, <span class="italic text-blue-900">The School of Athens</span> by Raphael, Victoria & Albert Museum, <span class="italic text-blue-900">Parody of Zhuangzi's Dream of Butterflies</span> by Ch&omacr;bunsai Eishi, The British Museum, <span class="italic text-blue-900">Saint Paul Writing His Epistles</span> by Valentin de Boulogne, The Museum of Fine Arts, and <span class="italic text-blue-900">The Philosophers</span> by Master of the Judgment of Solomon, Hotel Sandelin Museum.
<br>
<br>  
And most importantly, thank you to all of the high school students around the world who have written for Dialexicon or who have engaged with our materials in any way. Without you all, Dialexicon would only be a concept.
<br> 
<br> 
<span>- The Dialexicon Team (Elizabeth, Saurish, Emily, and George)</span>
</p>
</div>
</div>
</div>
</div>
</Layout>