---
import Layout from '~/layouts/PageLayout.astro';
import FAQs from "~/components/widgets/FAQs.astro";
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body class="light-theme" style="background-color:#F9F6EE; overflow-x:hidden;">
<Layout metadata={metadata}>

    <div style="font-family:'Times New Roman', Times, serif">

    <div style=
    `background-image: url(/images/submit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh`>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-white">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="./about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="./journal" class="text-xl hover:italic" style="font-family:serif"> Journal </a>
        <a href="./submit" class="text-xl italic" style="font-family:serif"> Submit </a>
    </div>
    
    <span class="text-white text-7xl md:text-6xl lg:text-7xl absolute left-16 top-32" style="font-family:serif"> Submit to <span class="italic">Dialexicon</span></span>
    <span class="text-white text-2xl md:top-48 lg:top-52 absolute left-16 top-52" style="font-family:serif"> Wrote a philosophy essay? Publish it in our journal. </span>
    <div class="text-white text-md absolute right-5 bottom-4" style="font-family:serif;">Saint Paul Writing His Epistles, by Valentin de Boulogne, 1618</div>

  </div>
  

  <div class="text-black text-xl mt-10 mx-auto" style="width:1000px">
    <p class="text-black text-xl">
        <div class="text-blue-900 text-4xl">What is the <span class="italic">Dialexicon</span> Journal?</div>
<br>
<span class="italic">
Dialexicon</span> is a journal that publishes exceptional philosophical essays written by high school students around the world.
<br>
<br>
We look for papers that approach current issues through a philosophical lens, as reflected in our prompts. That being said,
past papers have ranged in topic from the ethics of violent protests to the nature of identity to whether free will exists.
<br>
<br>
The mission of <span class="italic">Dialexicon</span> is to encourage youth to critically and philosophically investigate current issues. As a result, we look for papers that express original ideas, address multiple perspectives, and produce a rigorous philosophical argument
<br>
<br>
We are looking for papers that are <span class="italic">1200 to 1500 words</span>, and make a <span class="italic">compelling, original philosophical argument</span>.
Every fall, we release prompts for students to write their papers on, but we also accept papers on any relevant topic.
<br>
<br>
If your paper has been accepted for publication, we will contact you by email. Published authors will have their essays 
published online, and are invited to participate in an interview with <span class="italic">Dialexicon</span> about their paper and interest in philosophy.
<br>
<br>
The top paper will be awarded a $100 prize, and we typically publish 5 to 7 papers each year to <span class="italic">Dialexicon</span>.
<br>
<br>
If you are interested in submitting, the upcoming Dialexicon Vol. 4 will be opening to submissions in Fall 2024.
Before writing, please read the following steps and guidelines to ensure that your paper is eligible for publication.
    </p>
  </div>

    <Steps
        title="How Do I Submit My Essay?"
        items={[
        {
            title: 'Step 1: <span class="font-medium">Read over the prompts.</span>',
            description:
            'You can find the <a href="#prompts" class="text-blue-900 font-semibold underline">prompts</a> on our website.',
            icon: 'tabler:book',
        },
        {
            title: 'Step 2: <span class="font-medium">Write a 1200 - 1500 word philosophical essay on one of our prompts (or pick your own!).</em>',
            description:
            'Read our <a href="#guidelines" class="text-blue-900 font-semibold underline">guidelines</a> and see past papers for exemplars.',
            icon: 'tabler:letter-case',
        },
        {
            title: 'Step 3: <span class="font-medium">Email your paper to us.</span>',
            description:
            'Email your paper to <a href="mailto:dialexiconjournal@gmail.com" class="text-blue-900 font-bold underline">dialexiconjournal@gmail.com</a>, with the subject "Dialexicon Submission" and attach this <a href="/resources/submissionform.pdf" class="text-blue-800 font-bold underline">form</a>.',
            icon: 'tabler:mail',
        },
        {
            title: 'Congratulations, your paper is in!',
            icon: 'tabler:check',
        },
        ]}
        image={{
        src: '/images/the-philosophers-master-of-the-judgment-of-solomon.jpg',
        alt: 'Steps image',
        }}
    />

    <div id="guidelines" class="mx-auto" style="width:1000px">
       <h1 class="text-blue-900 text-4xl"> Guides for Writing a Philosophy Paper</h1>
       <p class="mt-5 text-xl"> We highly recommend reading the following two documents thoroughly before submitting your paper to the journal.</p>
       <div class="flex flex-col gap-2 text-xl mt-5">
        <div> 1. <a href="/resources/dialexicon_essay_guide.pdf" class="text-blue-800 underline underline-offset-2"> Dialexicon's Guide to Writing a Philosophy Essay</a></div>
        <div> 2. <a href="/resources/dialexicon_rubric.pdf" class="text-blue-800 underline underline-offset-2"> Dialexicon's Rubric for Adjudicating Papers </a></div>
       </div>
    </div>

    <div id="prompts" class="mx-auto mt-14 text-xl" style="width:1000px">
        <h1 class="text-blue-900 text-4xl"> Prompts for <span class="italic">Dialexicon</span> Vol. 4</h1>
        <br>
        <h1 class="text-blue-900 text-2xl"> Prompt 1 </h1>
        In recent years, self-driving car companies such as Tesla and Cruise have been under fire for their technology leading to hundreds of car accidents, some with fatal consequences. The rising popularity of autonomous technologies has raised many ethical questions. Who should take responsibility when a self-driving car or other form of autonomous vehicle fails, often with human consequences? How should we program autonomous vehicles to approach life-or-death decisions (i.e. to spare the driver or a pedestrian, in a scenario where only one can survive), and which philosophical frameworks should inform these decisions? Justify your claims. Feel free to focus on other forms of autonomous technologies other than vehicles.
        <br>
        <br>
        <h1 class="text-blue-900 text-2xl"> Prompt 2 </h1>
        Is failing to do good the moral equivalent of doing wrong? In other words, is there a moral distinction between acts of omission and acts of commission? Should one be equally liable for both, or is there a meaningful distinction between the two, or does it entirely depend on the scenario in question? Consider this question in the context of medical ethics - is removing life support morally equivalent to administering a lethal dose of a drug? Or in the context of charity, where failing to donate to a cause could be considered neglecting another's suffering. Should our actions be evaluated solely based on their consequences or do the intentions and contexts surrounding these actions hold moral significance? Justify your claims.
        <br>
        <br>
        <h1 class="text-blue-900 text-2xl"> Prompt 3 </h1>
        The flawed state of prison systems around the world, from the inhumane conditions of the mega-prisons used to tame gang violence in El Salvador  to the high recidivism rates and failed 'war on drugs' of the American prison system have raised questions about what the right way to punish criminals is. Often, it seems that two key pillars of justice - retribution and rehabilitiation - come into stark conflict with each other. Should the primary aim of the justice system be to prioritize retribution or rehabilitation? If both ought to be considered, how should we strike a balance between the two? And to what extent should individuals be duly punished for their actions if their upbringing has significantly influenced their choices?
        <br>
        <br>
        <h1 class="text-blue-900 text-2xl"> Prompt 4 </h1>
        Most people would agree that we have greater responsibilities towards our family and friends, as opposed to say, a random stranger. For instance, in a scenario where we could only save the life of a parent or that of a stranger, perhaps even the lives of ten strangers, most children would save their parent. If you agree with the claim that we have greater obligations towards certain individuals, provide a philosophical justification for why it is morally acceptable that we would prioritize the needs of our loved ones above those of a random stranger. If you disagree with this claim, articulate your reasons for why, family or stranger, everyone deserves equal treatment and acting in a way that unduly favors our loved ones is unjustifiable.
        <br>
        <br>
        <h1 class="text-blue-900 text-2xl"> Prompt 5 </h1>
        Pick any relevant current question of your choice, take a stance, and provide a rigorous philosophical argument in favor.
        <br>
        <br>
        <h1 class="text-blue-900 text-2xl"> Submission Deadline </h1>
        The deadline to submit a paper to Dialexicon Vol. 4 is <span class="text-blue-900 font-semibold">March 20, 2024 at 11:59 PM Pacific Time</span>.
     </div>

    <FAQs
        title="Frequently Asked Questions"
        subtitle="Answers to common questions about submitting to the journal."
        tagline="FAQs"
        classes={{ container: 'max-w-6xl' }}
        items={[
        {
            title: 'When will submissions open?',
            description:
            "The upcoming volume of Dialexicon will start accepting submissions for papers in Fall 2024. If you are interested in submitting, be sure to check this website for updates. We will release prompts for Volume 4 on this page, so check back!",
        },
        {
            title: 'Who can submit to the Dialexicon Journal?',
            description:
            'Dialexicon accepts submissions from any high school student (from around the world!). We require authors to attach a submission form along with their paper specifying a teacher from their high school as a point of contact for the journal.',
        },
        {
            title: 'When will I hear back about the results?',
            description:
            "We aim to notify all authors by email of which papers we are publishing by Spring of 2025, since the deadline for submissions is usually around December. Within the next month or so, the digital journal will be published on this site!",
        },
        {
            title: "Who will be adjudicating my paper?",
            description:
            "Our adjudicators consist of philosophy professors and university students, including those affiliated with the Canadian Philosophical Association, the Philosophy Foundation, and University of Toronto's Philosophy Department.",
        },
        {
            title: 'Can I answer my own prompt?',
            description:
            "Yes! Each year, we include an option to write an essay that answers an original prompt that is not one of our provided prompts. You are welcome to do this, however we would recommend considering one of our existing prompts!",
        },
        {
            title: 'Where can I ask more questions?',
            description:
            `We would love to answer your questions, about the journal or about Dialexicon in general! Please feel free to reach out to <a class="text-blue-800 underline underline-offset-2">dialexiconjournal@gmail.com</a> with any questions you may have, and we will aim to respond as soon as possible.`,
        },
        ]}
    />

    <div class="text-black text-xl mt-5 mx-auto mb-10 text-center" style="width:1000px">
        <p class="text-black text-lg">
            <div class="text-blue-900 text-4xl mb-5">Previous Authors & Honourable Mentions</div>
    <span class="">
<div class="text-2xl text-blue-900"> Announcing the Published Authors for Dialexicon Vol. 2, 2022</div>
Congratulations to <span class="italic">Nick Liu</span> of Phillips Academy Andover (USA), who is our 2022 top paper recipient, 
with his paper titled "Imagine Sisyphus Exploited: The Absurdity of Late Stage Capitalism."
<br>
<br>
<div class="text-xl text-blue-900">Published Authors:</div>
<span class="italic">Marianna Stamatiou</span> (Arsakeio Lykeum of Patras, Greece): "Mandatory Vaccines? The Djokovic Case"
<br>
<span class="italic">Lucy Fan</span> (Guildford High School, United Kingdom): "Relativism and the Death of Truth"
<br>
<span class="italic">Jerry Zhang</span> (Collingwood School, Canada): "Ethics of Mandatory Vaccines: Why Governments Should Take the Plunge"
<br>
<span class="italic">Gaby Casals</span>  (Brentwood College School, Canada): "Does Identity Exist?"
<br>
<br>
<span class="text-xl text-blue-900">
Honorable Mentions:</span>
<br>
<span class="italic">
Toth Efraim  &nbsp; Soma Viragh  &nbsp; Tilemachos Paizis &nbsp;  Samuel Veto 
</span>
<br>
<br>
<span class="text-2xl text-blue-900">
Announcing the Published Authors for Dialexicon Vol. 1, 2021
</span>
<br>
The 2021 Spring Dialexicon Journal received 85 submissions from 12 countries, including: Canada, the US, 
Greece, Mexico, Hungary, UK, Indonesia, Slovenia, Turkey, Thailand, Bosnia and Herzegovina, and Serbia.
<br>
<br>
​Congratulations to <span class="italic">Julia Wright</span> (Canada), who is our 2021 top paper recipient, 
with her paper titled "The Animal Rights Movement in the Context of the COVID-19 Pandemic."
<br>
<br>
<span class="text-xl text-blue-900">
Published Authors:</span>
<br>
<span class="italic">Kiki Ajayi</span> (England): "Does Violence have a place in Politics?"
<br>
<span class="italic">Dimitrios Kouvaras</span> (Greece): "COVID-19: A Lesson of Freedom and Citizenship"
<br>
<span class="italic">Sophie Nadalini</span> (Canada): "A Call for Nonviolent Protest"
<br>
<span class="italic">Daniel Xu</span> (USA): "The Rebel in Black: A Black Existentialist Approach to the George Floyd Protests"
<br>
<span class="italic">Emma M&#233;sz&aacute;ros</span> (Hungary): "How Viktor Orban's Hungary is heading towards dictatorship during COVID-19"
<br>
<br>
<span class="text-xl text-blue-900">Honorable Mentions:</span>
<br>
<span class="italic">
Charles Amsellem  &nbsp;  Benjamin Allen &nbsp;  Aarian Bhakoo &nbsp;  Eva Kamimura
</span>
</p>
<div class="text-sm mt-6">*To view previous volumes of the journal, please visit our <a href="./journal" class="text-blue-800">Journal</a> page.</div>
</div>
</div>

</Layout>