---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
        <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
    </div>

  <div class="mt-14 ml-14">
    <a href="/journal" class="text-blue-900 text-2xl whitespace-pre hover:italic"> &#8592; dialexicon vol. 3 </a>
  </div>

  <div class="mt-16 ml-32" style="max-width:950px">
  <div class="flex flex-col gap-3">
    <h1 class="text-blue-800 text-6xl">Generative AI: A Blessing or a Curse for Artists? </h1>
    <h1 class="text-blue-500 text-5xl italic"> Bernadett Osvay-Szab&oacute; </h1>
  </div>
  
  <div class="text-black mr-14 mt-8 text-2xl">
    <span class="text-3xl text-blue-800">
      I. Introduction
    </span>
<br>
<br>
Due to rapid progress in artificial intelligence over the past few years, there has been an
immense growth regarding the popularity of computer-generated artworks on recently
emerging AI platforms. It is now possible to generate texts, images and other forms of content
indistinguishable from human artworks with the help of AI within seconds. With the inevitable
phenomenon of generative AI revolutionizing a wide range of industries and hence, having an
impact on all aspects of our lives, we must begin to explore the potential they hold and address
the ethical implications raised by the use of such systems. In this essay, I am going to touch on
how generative AI operates with regards to artworks, why it can be considered a fascinating
tool, and highlight some of the consequences that could stem from its deployment when the
ethical concerns are overlooked. By taking into account the fundamental problems that will be
discussed, I am going to draw my conclusion that generative AI cannot be considered good for
humanity in the long term as the ethical dilemmas can entail serious repercussions regarding
the question of copyright claims and originality.
<br>
<br>
<span class="text-3xl text-blue-800">
    II. Benefits of Generative Artificial Intelligence
  </span>
<br>
<br>
Different perspectives (Anon, 2023 & Alshater, 2022) have been held in connection with how
beneficial generative AI can be for artists in the long run. First and foremost, it is crucial to
address the benefits of implementing such systems. Generative AI certainly has the potential to
democratize the creative process of artists. AI tools can be used as a source of inspiration for
new ideas and concepts. It can give more opportunities to people who may not find themselves
endowed with artistic talent and can be accessed by technically anyone for free. It has the ability
to speed up the creation phase and allows the creators to put their human touch on top of it later
in the process (Brownlee, 2022). Furthermore, automating repetitive tasks makes it possible for
creators to focus on the more challenging or expressive aspects of their creative work.
<br>
<br>
<span class="text-3xl text-blue-800">
    III. Ethical Concerns & Copyright Claims
  </span>
<br>
<br>
However, due to rapid advancement in AI technology, little emphasis has been placed on the ethical 
impacts of incorporating such technologies in a variety of fields. One of the fundamental problems 
that arises in correlation with computer-generated artworks is the question of copyright 
claims. Many critics argue that such platforms have infringed the rights of several artists as 
their work has been involved in the art production without the original artists' consent 
(Levin et al., 2020). The issue is primarily rooted in the capacity of AI to create output from 
utilizing and replicating numerous existing artworks without acknowledging or assigning credit 
to the creators whose works have contributed to the outcome. It has been stated that when deciding 
on whether copyright-protected data can be used to train AI systems, there are two key factors 
that should be taken into consideration: “What's the purpose or nature of the use and what's the 
impact on the market”. When analysing these questions, it has been highlighted  that training systems 
on billions of images or texts is unlikely to be considered copyright infringement as the input has 
been heavily transformed in the process and would not jeopardize the original artworks (Vincent, 2022). 
<br>
<br>
However, the problem lies in how content is generated. It is possible for instance, to reproduce 
artworks based on a given prompt that replicates the patterns of a specific artist's style. This 
is certainly a drawback from the perspective of the original creators, whose works have been used 
without their consent and have not been compensated for their involvement. There has also been a 
requirement in higher education to adjust to the technological innovations. My brother, who is 
studying game design and art at the University of Southampton, has the possibility, for instance, 
to utilize generative AI in presentations to illustrate ideas, but otherwise, it is forbidden to use 
such platforms to preserve academic integrity. This also indicates that these platforms can be 
considered high-tech forms of plagiarism.
<br>
<br>
<span class="text-3xl text-blue-800">
    IV. The Nature of Originality in Art
  </span>
<br>
<br>
The way AI operates has created fierce debates about originality being under threat (Farrell, 2023).
However, it has been highlighted that originality has already ceased to exist in contemporary art
as in an attempt to recreate originality, there is a prevalent tendency to repetition, which results in
the art becoming unoriginal (Hare, 1964, p. 139-142). Artists must continuously immerse themselves 
in what they are doing and as they expand their knowledge, their chances of originality
decrease. Although it is vital to emphasize that no art can be deemed entirely original nowadays
due to easily obtainable knowledge and influence from everywhere, there has to be a major
distinction made between being influenced and replicating the work of someone (Rahman, 2022).
Therefore, the fact that AI has the ability to generate similar-looking artwork for free can entail
serious implications regarding the future of many artists who try to make a living and survive
financially from creating art. Many artists have already expressed that publishers tend to use AI
instead of hiring cover-artists nowadays (Nast, 2023). It is of growing concern that generative AI
has the potential to make many human workers redundant as the tasks or processes previously
performed by humans can now be fulfilled through such systems. The negative impact generative
AI can have on the lives of people who work in the creative industries can make us question
whether we are working towards solving something or we are implementing these systems solely
because technology has enabled us to do so.
<br>
<br>
<span class="text-3xl text-blue-800">
    V. Regulating Generative Artificial Intelligence
  </span>
<br>
<br>
In order to ethically regulate the use of such systems, it is crucial to come up with different
approaches that alleviate the negative consequences generative AI can entail, while assigning
credit to the artists, whose work immensely contributes to the flourishment of the field. It has
been noted that one of the most effective solutions to minimize the possibility of copyright
infringement is to invent databases where only properly licensed material would be utilized or
databases that would specifically be dedicated to AI training (Vincent, 2022). Clear and
transparent guidelines should be established that reflect alignment with ethical values and
priorities so that accountability can be held.
<br>
<br>

<span class="text-3xl text-blue-800">
    VI. Conclusion
  </span>
<br>
<br>
After thoroughly examining the premise and its potential implications, I have concluded that
the ethical issues that arise with the use of such systems should be further investigated as they
may have detrimental effects on professions in the creative industry and how we perceive art
in the long run. If we inadequately recognise the contribution of artists to the prosperity of the
field, even less credit would be assigned to people's work than in the status quo. Automating
certain tasks previously performed by humans would result in many professions being replaced
in the creative workforce. However, it is vital to recognise that generative AI is at its core a
creative tool that cannot replace human creators as it is not endowed with imagination and a
human perspective, which are necessary to fulfill several tasks in the creative process, for
instance coming up with ideas, an intent or engagement with the audience. The lack of
originality can also make us question whether authenticity will remain when there is no intent
or meaning behind an artwork.
<br>
<br>
</div>

<div class="text-black mr-14 text-2xl mb-10">
<span class="text-3xl text-blue-800"> 
  References
</span>
<br>
<br>
Alshater, M 2022, 'Exploring the Role of Artificial Intelligence in Enhancing Academic Performance: A Case Study of ChatGPT.'', 
SSRN, retrieved at 18 February 2023, https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4312358.
<br>
<br>
Anon, 2023, 'Exploring What is Generative AI: Benefits, Applications, and Real-World
Examples', The Enlightened Mindset, retrieved at 18 February, 2023, https://www.lihpao.com/what-is-generative-ai/.
<br>
<br>
Brownlee, 2022, 'The Truth About AI Getting 'Creative'.' https://www.youtube.com/watch?v=0gNauGdOkro&t=230s.
<br>
<br>
Chesterman, S 2023, 'AI-Generated Content is Taking over the World. But Who Owns it?'',
SSRN, retrieved at 18 February 2023, https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4321596.
<br>
<br>
Epstein, Z, Levine, S, Rand, D G and Rahwan, I 2020, 'Who Gets Credit for AI-Generated
Art?'', iScience, 23(9), p.101515., retrieved at 18 February 2023, https://doi.org/10.1016/j.isci.2020.101515.
<br>
<br>
Farrell, L 2023, 'Is AI in Creative Industries Ethical?'', retrieved at 18 February 2023,
https://revolutionized.com/aiincreativeindustries/#:~:text=One%20of%20the%20biggest%20issues%20with%20using%20AI.
<br>
<br>
Gayford M, Cork R 2016, 'Debate: Is originality in art overrated?' Royal Academy of Arts,
retrieved at 18 February 2023, https://www.royalacademy.org.uk/article/magazine-debate-originality-overrated.
<br>
<br>
Guadamuz, 2017, 'Artificial intelligence and copyright.', WIPO Magazine, retrieved at 18 February 2023, 
https://www.wipo.int/wipo_magazine/en/2017/05/article_0003.html
<br>
<br>
Hare, D 1964, 'The Myth of Originality in Contemporary Art', retrived at 18 February 2023, 
from https://www.tandfonline.com/doi/abs/10.1080/00043249.1965.10794601.
<br>
<br>
Jabotinsky, H Y and Sarel, R 2022, 'Co-authoring with an AI? Ethical Dilemmas and Artificial Intelligence.', 
SSRN, retrieved at 18 February 2023, https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4303959.
<br>
<br>
Nast, C 2023, 'Is A.I. Art Stealing from Artists?', The New Yorker, retrieved at 18 February
2023, https://www.newyorker.com/culture/infinite-scroll/is-ai-art-stealing-from-artists.
<br>
<br>
Rahman, O 2022, 'There's no such thing as completely original art.', ILLUMINATION, retrieved at 18 February 2023, 
https://medium.com/illumination/theres-no-such-thing-as-completely-original-art-6d1d47cda5af
<br>
<br>
Sætra, H S 2022, 'Generative AI: Here to stay, but for good?', SSRN, retrieved at 18 February 2023, 
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4315686.
<br>
<br>
Sharratt, C 2019, 'Why Artists are Struggling to Make a Living From Their Art (and the Activists Fighting Back)', Frieze., retrieved at 18 February 2023,
https://www.frieze.com/article/why-artists-are-struggling-make-living-their-art-and-activists-fighting-back.
<br>
<br>
Vincent, J 2022, 'The scary truth about AI copyright is nobody knows what will happen next.' The Verge, retrieved at 18 February 2023, 
https://www.theverge.com/23444685/generative-ai-copyright-infringement-legal-fair-use-training-data.

</div>


</Layout>