---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

    <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
        <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
        <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
        <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
        <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
    </div>

  <div class="mt-14 ml-14">
    <a href="/journal" class="text-blue-900 text-2xl whitespace-pre hover:italic"> &#8592; dialexicon vol. 3 </a>
  </div>

  <div class="mt-16 ml-32" style="max-width:950px">
  <div class="flex flex-col gap-3">
    <h1 class="text-blue-800 text-6xl">The Polarized Express: An Analysis of 
Free Speech on Social Media </h1>
    <h1 class="text-blue-500 text-5xl italic"> Julian Zhang </h1>
  </div>
  
  <div class="text-black mr-14 mt-8 text-2xl">
    <span class="text-3xl text-blue-800">
      I. Introduction
    </span>
<br>
<br>
In her 1906 biography of Voltaire entitled The Friends of Voltaire, Evelyn Beatrice Hall wrote a
sentence so famous it is often misattributed to the French writer himself. The phrase "I disapprove 
of what you say, but I will defend to the death your right to say it" perfectly summarizes the classical 
liberal attitude towards freedom of speech, but is becoming an increasingly unpopular opinion in a more 
polarized world. Section 2 of the Canadian Charter of Rights and Freedoms and the First Amendment 
of the United States Constitution unconditionally protect citizens' right to freedom of speech and 
expression, meaning it would be unlawful for the government to persecute one for their speech. 
However, these acts of legislation do not apply to private corporations, meaning that legally speaking, 
they can censor speech at their discretion. This has led to a world where large social media monopolies 
which form a digital town square, have become the arbiters of free and acceptable speech. Recently,
billionaire Elon Musk fully acquired the social media giant Twitter in hopes of making it a haven
for free speech. Within months of his purchase, Elon has fired 75% of its workforce, reinstated
several controversial figures, and published a plethora of documents detailing Twitter's censorship 
policies throughout the last decade. Be his takeover rushed and downright organized as it may, it still 
serves as a step in the right direction for social media corporations to be more accepting of free speech.
<br>
<br>
<span class="text-3xl text-blue-800">
    II. The Dangerous Gray Zone of Censorship
  </span>
<br>
<br>
The basis of all Western society is predicated on freedom of speech. Even in ancient philosophy, tools 
such as the Socratic method are based on hearing conflicting viewpoints to draw a logical conclusion. 
In a democracy, the ability of citizens to have public discourse is the best mechanism for holding 
governments accountable. In a functioning bureaucracy, there must be freedom of speech to ensure 
political compromise and the passing of legislation. All of this points to the fact that the censorship 
of any speech has the potential to set a dangerous authoritarian precedent. This all directly translates 
to social media, a medium which rivals in-person communication with its usage. According to Gruzd and Mai 
(2020), an overwhelming majority of Canadian adults (94%) who use the Internet have at least one social 
media account. When bestowed with this massive influence, social media corporations now have the
responsibility to maintain the same principles of free speech on their platform. The question then
becomes, should they be the ones to enforce it?
<br>
<br>
When it comes to social media corporations versus governments regulating free speech, there
are just as many competing stakeholders and interests. Like all corporations, social media and
tech companies are profit-driven, and one of the fastest ways they make money is by showing
their users content they agree with. However, this can have unintended consequences,
including influencing elections such as Israel's general election in 2015. According to Bruns et
al. (2015), the winning right-wing party in that election was also the one that garnered the most
engagement through posts, likes, and shares (p.39). For supporters of left and center-leaning
parties however, the election results came as a surprise since the content they had been shown
mainly consisted of posts attacking the incumbent Prime Minister. These echo chambers that
are formed on social media are extremely harmful to civil discourse and only get worse when
corporations are allowed to censor speech. Additionally, when actors such as governments,
political parties, and shareholders are involved, there is too much room for corruption and the
use of censorship as a weapon. For example, many social media users have been banned for
the spreading of hate speech and disinformation, but those terms present a significant
definitional gray zone where corporations can exercise a large amount of discretion. Although
this is almost always done with good intentions, broad categories such as hate speech and
deliberately convoluted Terms of Service present a potential facade for the pushing of certain
political agendas. Due to the plethora of competing interests, social media corporations should
not be the ones tasked with controlling normal speech.
<br>
<br>
<span class="text-3xl text-blue-800">
    III. Public Outcry and Violent Speech
  </span>
<br>
<br>
The decision to censor speech is also not made exclusively by social media corporations: In the
age of online mob mentality, they are greatly influenced by mass public outcry to censor
unpopular or offensive material. Not even a month after Musk's complete takeover of Twitter,
more than 50% of top advertisers pulled out of the platform amidst mass controversy (Nix). An
exodus of this scale would deal a crippling blow to the bottom line of most publicly-traded tech
corporations, and almost certainly lead to policy changes to appease advertisers. This raises an
obvious problem: if public outrage can coerce social media corporations to restrict free speech
policies, is the speech really free? All viewpoints, regardless of how offensive they may be, must
first be discussed for them to be debunked. In fact, they often come from genuine concern -
anger against immigration, for example, could reflect the frustration that many citizens hold after
losing their jobs and feeling that the state is not doing enough to provide for them. Furthermore,
social media corporations must allow free speech to prevent further radicalization. Previously
censored Twitter users simply went to worse social media platforms like Parler or 4Chan, where
they were thrust into more radical echo chambers that only confirmed their beliefs. The most
fringe opinions will still be the most unpopular, with users being able to mute, block, and report
accounts they deem to be hateful, but in almost all cases, the representation of these harmful
ideas in the digital town square is essential for the continuation of civil discourse.
<br>
<br>
Of course, there are still instances where speech can cross the line and become violent: for
instance, Donald Trump's social media ban in 2021. Speech which incites violence should be
banned, as well as harmful misinformation that is explicitly proven false. Although Trump never
directly called on his supporters to attack the Capitol, he made untrue claims about the 2020
election with no evidence. Falsely accusing the government of treason to millions of enraged
supporters qualifies more as an incitement of violence than free speech, making his ban completely 
justified. However, all other speech, even opinions that are considered completely absurd, ought 
to be preserved. There also needs to be significantly more transparency on the part of social 
media corporations and their Terms of Conditions on what constitutes bannable speech. 
<br>
<br>
<span class="text-3xl text-blue-800">
    IV. Conclusion
  </span>
<br>
<br>
At the end of the day, if one thinks that content on social media is so ridiculous, conspiratorial, 
or without reason, then the vast majority of rational users should be able to determine the same 
for themselves. If anything, they should seek to engage and disprove it, because discourse is at 
the heart of social media's purpose. As long as they are not directly harmful, all forms of expression 
should be protected. Our right to free speech is tantamount to our right to free choice, and for us 
to lead a dignified life, should only be infringed upon when absolutely necessary.
<br>
<br>
</div>

<div class="text-black mr-14 text-2xl mb-10">
<span class="text-3xl text-blue-800"> 
  References
</span>
<br>
<br>
Gruzd, Anatoliy, and Philip Mai. "The State of Social Media in Canada 2020." 
SSRN Electronic Journal, 2020, https://doi.org/10.2139/ssrn.3651206.
<br>
<br>
Nadeem, Reem. "Most Americans Think Social Media Sites Censor Political Viewpoints." Pew Research 
Center: Internet, Science & Tech, Pew Research Center, 13 May 2022, https://www.pewresearch.org/
internet/2020/08/19/most-americans-think-social-media-sites-censor-political-viewpoints/.
<br>
<br>
Nahon, Karine. "Where There Is Social Media There Is Politics." The Routledge Companion to
Social Media and Politics, 2015, pp. 39 - 55., https://doi.org/10.4324/9781315716299-4.
<br>
<br>
Nix, Naomi, and Jeremy B. Merrill. "Advertisers Are Dropping Twitter. Musk Can't Afford to Lose
Any More." The Washington Post, WP Company, 24 Nov. 2022,
https://www.washingtonpost.com/technology/2022/11/22/twitter-advertiser-exodus-musk/.
<br>
<br>
Robert. "The Misattribution of Evelyn Beatrice Hall." Robert Sharp, 21 Jan. 2019,
https://www.robertsharp.co.uk/2019/01/21/the-misattribution-of-evelyn-beatrice-hall/.
<br>
<br>
Suciu, Peter. "Do Social Media Companies Have the Right to Silence the Masses - and Is This
Censoring the Government?" Forbes, Forbes Magazine, 9 Nov. 2022, 
https://www.forbes.com/sites/petersuciu/2021/01/11/do-social-media-companies-have-the-
right-to-silence-the-masses--and-is-this-censoring-the-government/?sh=602666ec48e2.
<br>
<br>
Vera Eidelman, Kate Ruane. "The Problem with Censoring Political Speech Online - Including
Trump's: News & Commentary." American Civil Liberties Union, 29 Sept. 2021, https://www.aclu.org/
news/free-speech/the-problem-with-censoring-political-speech-online-including-trumps/.
</div>


</Layout>