---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

  <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
    <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
    <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
    <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
    <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
  </div>

  <div class="mt-14 ml-14">
    <a href="/journal" class="text-blue-900 text-2xl whitespace-pre hover:italic"> &#8592; dialexicon vol. 3 </a>
  </div>

  <div class="mt-16 ml-32" style="max-width:950px">
  <div class="flex flex-col gap-3">
    <h1 class="text-blue-800 text-6xl">The Good Person, the Good Citizen, 
and the Paradox of the Unjust Regime </h1>
    <h1 class="text-blue-500 text-5xl italic"> Sasha Johnson </h1>
  </div>
  
  <div class="text-black mr-14 mt-8 text-2xl">
    <span class="text-3xl text-blue-800">
      I. Introduction
    </span>
    
<br>
<br>
Goodness is subjective, but humans believe deeply in the concept of good and evil. In a
utopian society, where the laws are considered just by the individual, it is rational to deem the
good person a good citizen, as a good person respects a moral government. The difference
between the good person and the good citizen emerges when a state and its laws clash with an
individual's notion of the good. Individual morality necessitates, in some cases, breaking from
the social contract and exercising action and thought independent of the polis. Yet this action
against the state makes the individual a bad citizen since, unlike the concept of a good person,
the concept of the good citizen is dependent on the state. A good citizen must abide by the laws
of the state. It is my argument that, regardless of one's understanding of morality, a good person
is not always a good citizen, and a good citizen is not always a good person.
<br>
<br>
<span class="text-3xl text-blue-800">
  II. The Good Person
</span>
<br>
<br>
Although there is a plurality of discordant definitions of a good person among philosophers, 
in all societies, religions, and languages, there is a distinction between the categories of 
good and bad. (Smith et al.; van Oudenhoven et al). We see contrasts in conceptions of morality 
in the context of human rights. In Norway, homosexuality is embraced by the reigning king, 
Harald V, who recently remarked that Norweignens are, "girls who love girls, boys who love boys, 
and boys and girls who love each other" (Nikel). In a starkly different viewpoint, the Ayatollah 
Khamanei, Supreme Leader of Iran, claims that homosexuality is "ravaging moral decay" (Weinthal). 
It is evident that there is no innate set of moral virtues that are universal.
<br>
<br>
<span class="text-3xl text-blue-800">
  III. The Good Citizen
</span>
<br>
<br>
The idea of a good person is elusive, but there seems to be a consensus that a good citizen follows 
the laws of the state. The good citizen submits to being ruled. Aristotle argues that the regime shapes 
the citizen, as the laws and the constitution of the state determine the traits of a good citizen in 
that state (Aristotle 91). The social contract theorists argue that humans are never completely free 
in society because once a person leaves the state of nature and becomes part of a political body, their 
free will is compromised by the rules of the state. As Locke argues, man gives up the power, "of doing 
whatsoever he thought for the preservation of himself ... to be regulated by laws made by society" 
(Locke 67). As Hobbes explains, the social contract is a consensual agreement to follow the customs 
and rules of a society. Rousseau contends that there is still freedom within the social contract as the 
individual has a hand in creating the ties that bind them. For Rousseau, a person who violates the 
social contract, becomes "a rebel and traitor to his homeland" (Rousseau 65). By violating the laws 
of the polity, the citizen "wages war against it" (Rousseau 65). For the social contract theorists, 
a good citizen is one who abides by the social contract; and one cannot be a good citizen without 
following the laws of the state. The social contract is created to protect the individual, therefore 
only when an individual's rights are heavily compromised, can they withdraw consent.
<br>
<br>
Regime type and political norms are almost irrelevant to the definition of a good citizen,
as the good citizen is one that follows the law. The concept of a good citizen is political and
rooted in the need of leaders to control the polis. The political subjects need to perform functions
for the state - from paying taxes to obeying other laws. In the United States, 96% of Americans
believe that "always following the law" makes a good citizen (Pew 2018). American citizens
sometimes compromise their rights and collaborate with law enforcement and with the state to
be considered "good citizens" (Capers).
<br>
<br>
<span class="text-3xl text-blue-800">
  IV. The Paradox of the Unjust Regime
</span>
<br>
<br>
When a good person feels trapped in a society that they consider unethical, they cannot
comply with its laws. Thoreau's understanding of civil disobedience gives power to an
individual following their own moral conceptions. Thoreau opposed slavery, and he resented
paying taxes for a war that compromised his beliefs. In this context, he writes that it is “not too
soon for honest men to rebel and revolutionize” (Thoreau). He argues that the individual must
determine for themselves whether a law is just, and only follow those that they find to be so.
Thoreau's influence is seen in Gandhi who, practicing Satyagraha, advocates that an individual
should never follow the state's rules if they think these are immoral. Doctor King saw resistance
not as lawlessness, but rather as upholding moral and divine laws. For King, a good person must
rebel against "an evil system" (King 73).
<br>
<br>
What should a good citizen do in a polis that contradicts their moral code? I argue that,
by definition, it is a good citizen's duty to abide by the laws of the state and continue to be ruled,
while a good person should use their free will to break from the social contract. If Ayatollah
Khamanei relocates to Norway, he faces two possibilities. If he decides to be a good citizen of
his new country, he should abide by their laws, and tame his own personal beliefs on homosexuality. 
If he, however, wants to be his own definition of a good person, he must leave the country or 
rebel against its laws. In the same vein, if King Harald moves to Iran and desires to be a good 
citizen, he must embrace the laws which are based on Sharia and Islam. If King Harald is determined 
to be his conceptualization of a good person, he must either leave Iran or rebel by disobeying 
the laws. With both leaders, the first choice makes them a good citizen but contradicts their 
own ideals of a good person; and the second choice embodies their personal conception of a good 
person, but makes them, by definition, bad citizens of their new nations.
<br>
<br>
<span class="text-3xl text-blue-800">
  V. Conclusion
</span>
<br>
<br>
Therefore, there are three main reasons that lead an individual to break from the state. The first 
is exemplified in Locke, who sees personal interest as supreme, and argues that sustained 
violation of an individual's natural rights is the reason to exit the social contract. The second 
is clear in Thoreau, who advises the good person to break with the polis when they deem laws 
immoral. King merges the two approaches since he follows both his private interest and his 
moral vision of a just society. I argue that in all cases, if one does not abide by the state, 
one is no longer a good citizen. That, however, does not make an individual a bad person. 
Simultaneously, leaving the state does not as a matter of course make a person good.
<br>
<br>
Two postulates emerge: (1) a good person follows their understanding of morality to its furthest 
point, and this might entail friction with the state; (2) the good citizen prioritizes their citizenship 
and their relationship with the state over their individual and group identities. In a situation in which 
the individual's moral principles do not correspond with the moral tenets of nthe government, a 
choice emerges and is necessary: the individual can stay true to themselves or stay true to the state.
<br>
<br>
</div>

<div class="text-black mr-14 text-2xl mb-10">
<span class="text-3xl text-blue-800"> 
  References
</span>
<br>
<br>
A.L. "How Homosexuality Became a Crime in the Middle East." The Economist, 6 June, 2018.
www.economist.com/open-future/2018/06/06/how-homosexuality-became-a-crime-in-the-middle-east.
<br>
<br>
Angolia, John. "For Fuhrer and Fatherland: Political and Civil Awards of the Third Reich." Bender Publishing, 1976.
<br>
<br>
Aristotle. Politics (Ernest Barker, Trans.). Oxford University Press, 1995.
<br>
<br>
Bachrach, Susan. "In the Name of Public Health - Nazi Racial Hygiene." New England Journal of Medicine, vol. 351, 2004.
<br>
<br>
Calkins, Mary Whiton. The Good Man and the Good. The Macmillan Company, 1918.
<br>
<br>
Capers, I. Bennet. "Criminal Procedure and the Good Citizen." Columbia Law Review, vol. 118, no. 2, 2018, pp. 653-711.
<br>
<br>
Cochran, Elizabeth. "Virtuous Assent and Christian Faith: Retrieving Stoic Virtue Theory for
Christian Ethics." Journal of the Society of Christian Ethics, vol. 30, no. 1, 2010, pp. 117-140.
<br>
<br>
Goldstein, Leslie F. "Aristotle's Theory of Revolution: Looking at the Lockean Side." Political Research Quarterly, vol. 54, 2001.
<br>
<br>
Gramlich, John. "What Makes a Good Citizen?" Pew Research Center, 2 July 2019,
www.pewresearch.org/fact-tank/2019/07/02/what-makes-a-good-citizen-voting-paying-taxes-following-the-law-top-list/.
<br>
<br>
Heintz, Monica. The Anthropology of Morality: A Dynamic and Interactionist Approach.Routledge Press, 2021.
<br>
<br>
Hobbes, Thomas. Leviathan. Penguin Books (Original work published 1651), 1985.
<br>
<br>
Jones, Jeffrey. "U.S. Religious Groups Disagree on Five Key Moral Issues." The Gallup
<br>
<br>
Organization, 26 May 2016, news.gallup.com/poll/191903/religious-groups-disagree-five-key-moral-issues.aspx.
<br>
<br>
LeJeune, John. "Varieties of 'Civil Disobedience.'" The Thoreau Society Bulletin, no. 302, 2018, pp. 12 - 13.
<br>
<br>
Leone, Luigi, Mauro Giacomantonio, and Marco Lauriola. "Moral Foundations, Worldviews,
Moral Absolutism and Belief in Conspiracy Theories." International Journal of Psychology, vol. 54, no. 2, 2019, pp. 197-204.
<br>
<br>
Li, Hui & Tan, Chuanbao. "Chinese Teachers' Perceptions of the 'Good Citizen'." Journal of Moral Education, vol. 46, 2017.
<br>
<br>
Li, Y. "Moral Plurality, Moral Relativism and Accommodation." Asian Philosophy, vol. 29, no. 4, 2019, pp. 306 - 321.
<br>
<br>
King, Martin Luther. Stride Towards Freedom, Hapercollins, 1987.
<br>
<br>
Locke, John. Second Treatise of Government (C.B. Macpherson, Ed.). Hackett Publishing, 1980.
<br>
<br>
McCarthy, Justin. "Gallup First Polled on Gay Issues in '77. What Has Changed?" The Gallup
Organization, 6 June 2019, news.gallup.com/poll/258065/gallup-first-polled-gay-issues-changed.aspx.
<br>
<br>
McKay, Ryan, & Whitehouse, Harvey. "Religion and Morality." Psychological Bulletin, vol. 141, no. 2, 2015, pp. 447-473.
<br>
<br>
Nietzsche, Friedrich. On the Genealogy of Morals. Vintage Books (Original work published 1887), 1989.
<br>
<br>
Nikel, David. "LGBT Equality: Gay Rights in Norway," 19 October 2020, www.lifeinnorway.net/norway-gay-rights.
<br>
<br>
Poushter, Jacob. "What's Morally Acceptable? It Depends on Where in the World You Live." Pew Research Center, 15 April 2014, 
www.pewresearch.org/fact-tank/2014/04/15/whats-morally-acceptable-it-depends-on-where-in-the-world-you-live/.
<br>
<br>
Rousseau, Jean-Jacques. On the Social Contract. (Roger D. Master, Ed, Judith R. Masters, Trans). St. Martin's Press, 1978.
<br>
<br>
Salter, William. "Nietzsche's Superman." The Journal of Philosophy, Psychology and Scientific Methods, vol. 12, 1915.
<br>
<br>
Smith, Kyle, Seyda Smith, and John Christopher. "What Defines the Good Person?: Cross-Cultural Comparisons 
of Experts' Models with Lay Prototypes." Journal of Cross-Cultural Psychology, vol. 38, no. 3, 2007, pp. 333-360.
<br>
<br>
Thoreau, Henry. "Civil Disobedience," 1849. /xroads.virginia.edu/~Hyper2/thoreau/civil.html.
<br>
<br>
Van Oudenhoven, Jan Pieter, Boele de Raad, Carmona Helbig, and Anne-Kathrin van der Linden, 
"Are Virtues Shaped by National Cultures or Religions?" Swiss Journal of Psychology, vol 71, no. 1, 2021, pp. 29-34.
<br>
<br>
Weinthal, Benjamin. "Iran President Raisi said Homosexuality is 'Nothing but Savagery.'" The Jerusalem Post, 25 August 2021, 
www.jpost.com/middle-east/iran-news/iran-president-raisi-said-homosexuality-is-nothing-but-savagery-677639.
</div>


</Layout>