---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Dialexicon',
  ignoreTitleTemplate: true,
};
---
<body style="background-color:#F9F6EE; background-position:cover; overflow-x:hidden; font-family:'Times New Roman', Times, serif">

<Layout metadata={metadata}>

  <div class="flex flex-row gap-4 absolute right-14 top-10 font-regular text-black">
    <a href="/" class="text-xl hover:italic" style="font-family:serif">Home </a>
    <a href="/about" class="text-xl hover:italic" style="font-family:serif">About </a>
    <a href="/journal" class="text-xl italic" style="font-family:serif"> Journal </a>
    <a href="/submit" class="text-xl hover:italic" style="font-family:serif"> Submit </a>
  </div>

  <div class="mt-14 ml-14">
    <a href="/journal" class="text-blue-900 text-2xl whitespace-pre hover:italic"> &#8592; dialexicon vol. 3 </a>
  </div>

  <div class="mt-16 ml-32" style="max-width:950px">
  <div class="flex flex-col gap-3">
    <!-- <img src="freewill.jpg"> -->
    <h1 class="text-blue-800 text-6xl">Has Science Disproven Free Will?</h1>
    <h1 class="text-blue-500 text-5xl italic"> Yi An Chan </h1>
  </div>
  
  <div class="text-black mr-14 mt-8 text-2xl">
    <span class="text-3xl text-blue-800">
      I. Introduction
    </span>
<br>
<br>
Am I freely writing this submission? Are you freely reading this entry? Or are we both on
the whims of countless factors beyond our control? As it stands, free will's existence is one of
philosophy's perennial problems, and undoubtedly a greatly consequential one. Science has thus
far been man's entrusted guide to our toughest questions. Will it do the same for free will?
<br>
<br>
First, what exactly is free will? Some say it is the ability to act unimpeded externally -
Alfred Mele terms this "moderate free will." But others demand more: we only have free will 
if we are the genuine source of our actions and could have done otherwise. As you will see in 
the coming paragraphs, how high one sets the bar for free will's definition impacts my answer. 
I will state now that if we are talking about moderate free will, science has yet to disprove it, 
but it remains an open question regarding its demanding counterpart.
<br>
<br>
  <span class="text-3xl text-blue-800">
    II. Modest Free Will
  </span>
<br>
<br>
Benjamin Libet rocked the philosophy world with his landmark 1983 experiment,
supposedly having disproved free will's existence. He had participants flex their wrists while
sitting in front of a rapidly rotating clock—all while monitoring their brain activity with EEG
electrodes. Whenever participants flexed, the clock halted, and they had to note the precise moment
they were consciously aware of their decision to move. After repeated trials, Libet found that
unconscious brain activity — represented by EEG signals termed the 'readiness potential' —
consistently began about 550 milliseconds before a flexing action, but participants were only
consciously aware of their decision to move about 200 milliseconds before. He concluded that the 
impulse to flex, therefore, did not originate from us. Instead of our conscious intentions dictating
our actions, preceding unconscious causation was the real author. Like puppets controlled by an
unknown puppeteer, we lack free will.
<br>
<br>
Although persuasive, Libet's results had notable flaws. To start, what Readiness Potential
(RP) means remains debated. In his experiment, Libet assumed that RP represented the
unconscious origin of a decision, but this is highly contentious. Schurger et al., 2012 found that
RP represents the rising portion of a regular pattern of haphazard ebb and flow of neural activity —
neural noise. They postulated that, prior to movement initiation, a neural threshold is crossed when
RP occurs, which tips the scale for action initiation when there is nothing else to base a choice on.
This saves us from endless indecision, especially for arbitrary tasks. In short, RP is simply the
rising arc of neural noise and only appears to be a non-random pattern because of how Libet
measured brain activity — an artifactual error. Furthermore, Alexander et al., 2014 found that RP
may instead reflect domain-general activities, like the build-up of anticipation, rather than the
unconscious genesis of a decision.
<br>
<br>
But a more fatal flaw in Libet's argument is his implicit assumption that because some of
our choices originate unconsciously, all our choices must too. Right away, an assumption like this
seems reckless. His participants were tasked to arbitrarily flex their wrists, worlds apart from the
complex everyday choices we make that require conscious deliberation, like creating a grocery list
or writing a philosophy essay. Haggard et al., 1999 specifically sought to test for conscious
deliberation in Libet-styled experiments—go-signal tests. Participants were tasked to respond to a
signal with a predesignated action, like clicking a mouse button when a tone arises. This meant
that instead of responding to spontaneous urges, participants had to rationalize instructions and
consciously anticipate a signal. In this case, the results showed that the intention to act occurred
231 milliseconds prior to action — closely aligning with Libet's findings on when participants
became consciously aware of their decision. If this is true, Libet's argument is defeated. Recall
that his argument primarily rests on the disparity between the original (unconscious) conception
of intention, about 550 milliseconds before an action, and when participants became consciously
aware of the decision, about 200 milliseconds before. If it turns out that no such disparity exists,
at least for actions that require conscious thinking, Libet's argument fails. Even if we take Libet's
results at face-value, it can only be concluded that only some actions originate unconsciously, not all.
<br>
<br>

<span class="text-3xl text-blue-800">
  III. Its Demanding Sister
</span>
<br>
<br>
Now, I will address the kind of free will that lies at the heart of current philosophical
debates — demanding free will. Those who believe in demanding free will, and contend that it is
incompatible with causal determinism, are called libertarians (unrelated to libertarianism in
political philosophy). Without getting lost in technical complexities, having libertarian free will is
generally defined as being the genuine source of one's actions which entails having had the ability
to have done otherwise (Kane, 2005; Pereboom, Fischer, and Kane, 2007). Suppose Jones decided
coffee over tea for breakfast, if we rewound the clock back to the exact moment Jones decided,
assuming the exact antecedent universe, Jones could have genuinely chosen tea instead. His choice
was not causally determined by his past — it was indeterminate up till his moment of decision. An
essential requisite to libertarian free will, thus, would be the existence of indeterminacy in the
universe and, more specifically, that indeterminacy resides locally in brain activity. Science has
yet to provide unequivocal proof for this, but there have been promising findings.
<br>
<br>
The most oft-cited evidence favoring libertarian free will is the existence of randomized
spike timings, which makes synaptic transmission in neuron-to-neuron communication
probabilistic, not deterministic, in nature (Dayan and Abbott, 2001). In brief, this happens because
the Brownian motion (irregular movement) of neurotransmitter particles causes their arrival onto
cell channels to be random. This affects the opening and closing of cell channels and, consequently,
causes the timing of neuron firing to be random too. Another occurrence supporting indeterminate
neural activity is the random behavior of magnesium ion cofactors in NMDA channels; though, as
Dr Peter Ulric-Tse points out in The Neural Basis of Free Will, just a single instance of
indeterminacy in brain activity is necessary for libertarian free will. And, as Kane notes,
indeterminacy need not function as a macro-level disturbance in neural processing for libertarian
free will. Just a "sprinkle" of indeterminacy acting as a hindrance in decision-making suffices.
<br>
<br>
Still, it is important to remember that even if neuroscience treats these processes
probabilistically, it does not necessarily mean they are genuinely indeterministic (Balaguer, 2010).
What I mean is that for libertarian free will to hold, we must ascertain that indeterminacy exists in
the brain ontologically (in physical reality) and not merely epistemologically (how it appears). To
know if these processes (synaptic transmission etc.) are "truly random" is an ongoing physics
question—concerning particle behavior in quantum mechanics—rather than a neuroscience question.
<br>
<br>
<span class="text-3xl text-blue-800">
  IV. Conclusion
</span>
<br>
<br>
Indeterminacy's existence remains hotly contested. We do not know for certain if the brain operates 
indeterminately, but neither if it operates determinately, as many have assumed. Libertarianism is 
oft-overlooked in contemporary philosophy discussions for its stringent empirical requirement, but I 
contend that until science provides a definite answer, we ought to have an open mind.
<br>
<br>
So, has science disproven free will? For modest free will, no. For libertarian free will, I say
the jury's still out. For all we know it could be widespread or may very well be an illusion. 
<br>
<br>
Only time will tell.
<br>
<br>
</div>

<div class="text-black mr-14 text-2xl mb-10">
<span class="text-3xl text-blue-800"> 
  References
</span>
<br>
<br>
Libet, Benjamin, Curtis A. Gleason, and Elwood W. Wright. "Time of Conscious Intention
to Act in Relation to Onset of Cerebral Activity: The Unconscious Initiation of a Freely Voluntary Act." 
Brain, Volume 106, Issue 3 (September 1983): 623-642 https://doi.org/10.1093/brain/106.3.623
<br>
<br>
Schurger, Aron, Jacobo D. Sitt, Stanislas Dehaene. "An Accumulator Model for Spontaneous Neural 
Activity Prior to Self-Initiated Movement." Proceedings of the National Academy of Sciences, 
Volume 109, Issue 42 (June 2012): 2904-2913 10.1073/pnas.1210467109
<br>
<br>
Alexander, Prescott et al. "Discussing the readiness potential: An investigation of the
relationship between readiness potentials, conscious willing, and action." Surrounding Free 
Will, edited by Alfred R. Mele, 205-230. New York, New York: Oxford University Press, 2015.
<br>
<br>
Haggard, Patrick, Elana Magno, and Chris Newman. "On the perceived time of voluntary actions." 
British Journal of Psychology, Volume 90, Issue 2 (1999): 291-303 https://doi.org/10.1348/000712699161413
<br>
<br>
Kane, Robert. "A Contemporary Introduction to Free Will." Oxford University Press, 2005.
<br>
<br>
Pereboom, Derk, John Martin Fischer, and Robert Kane. "Four Views on Free Will." Blackwell Publishing, 2007.
<br>
<br>
Dayan, Peter, and Larry Abbott. "Theoretical Neuroscience: Computational and Mathematical
Model of Neural Systems." Cambridge, Massachusetts: The MIT Press, 2001.
<br>
<br>
Ulric Tse, Peter. "The Neural Basis of Free Will: Criterial Causation." The MIT Press, 2015.
<br>
<br>
Balaguer, Michael. "Free Will." The MIT Press, 2014.
</div>


</Layout>